Flask
gunicorn

#torch
#torchvision
#torchaudio

numpy
pandas
scikit-learn

rdkit-pypi

networkx
matplotlib
seaborn
Pillow

scipy
plotly

# PyTorch Geometric dependencies (CPU only)
#torch-geometric
#torch-scatter
#torch-sparse
#torch-cluster
#torch-spline-conv


